.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #000000;
}
.home-text {
  top: 350px;
  left: 200px;
  color: #ffffff;
  right: 200px;
  margin: auto;
  position: absolute;
  font-size: 4em;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 100;
}
.home-text01 {
  top: 431px;
  left: 0px;
  color: #ffffff;
  right: 0px;
  margin: auto;
  position: absolute;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 100;
}
.home-text07 {
  text-decoration: underline;
}
.home-text08 {
  text-decoration: underline;
}
.home-link1 {
  display: contents;
}
.home-image {
  top: 640px;
  left: 0px;
  right: 0px;
  width: 43px;
  height: 43px;
  margin: auto;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.home-link2 {
  display: contents;
}
.home-image1 {
  top: 738px;
  left: 0px;
  right: 0px;
  width: 52px;
  height: 43px;
  margin: auto;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
